@import url('https://fonts.googleapis.com/css2?family=Allura&family=Be+Vietnam+Pro:wght@300;600;700&family=Playfair+Display:wght@400;500&display=swap');

/*
    font-family: 'Allura', cursive;

    font-family: 'Be Vietnam Pro', sans-serif;

    font-family: 'Playfair Display', serif;
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 300;
}

h1 {
    font-size: 84px;
}

/*Navigation*/

.navContainer {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: transparent;
    position: sticky;
    top: 1rem;
}

.navList {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navItem {
    margin-right: 2rem;
    color: red;
    list-style: none;
}

.navLink {
    text-decoration: none;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #fff;
}

.container {
    width: 100vw;
    height: 70vh;
    background-image: url(/hero-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: -2;
}

.overlay {
    background-color: rgba(88, 105, 116, 0.6);
    height: 70vh;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}

.heroContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.heroText {
    font-size: 200px;
    font-weight: 700;
    color: #fff;
    text-shadow: 4px 4px 8px #525d64;
    ;
}


.creatorTag {
    position: absolute;
    rotate: 90deg;
    bottom: 100px;
    left: -65px;
}

#tagline {
    color: #fff;
    font-weight: 300;
    font-size: 10px;
}

/* Section One HomePage*/

.outThereSection {
    padding-top: 5rem;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    font-weight: 500;
    margin-left: 3rem;
    text-shadow: 2px 2px 10px #525d64;
}

.cursive {
    font-family: 'Allura', cursive;
    font-size: 62px;
    color: #ceba47;
    text-shadow: 2px 2px 8px #ceba47;
}

.expContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
    padding: 3rem;
}

.iconGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iconGroup span {
    font-family: 'Allura', cursive;
    font-size: 62px;
    margin-top: 2rem;
}

.iconGroup i {
    font-size: 62px;
    color: #525d64;
}


/* Section 2 Home page */

.discoverParagraph {
    width: 80%;
    font-size: 24px;
    margin: 2rem auto;
}


.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
    width: 75%;
    margin: 3rem auto;
}

.card {
    border: 1px solid #525d64;
    border-radius: 10px;
    height: 15rem;
}

.cardImage {
    background-color: #525d64;
    border-radius: 10px 10px 0 0;
    height: 12rem;
    width: auto;
    margin-bottom: auto;
    position: relative;
}

.cardImage img {
    width: 240px;
    height: 191px;
    border-radius: 10px 10px 0 0;
    object-fit: fill;
}

.fa-heart {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #fff;
}
