@import url('https://fonts.googleapis.com/css2?family=Allura&family=Be+Vietnam+Pro:wght@300;600;700&display=swap');

/*
    font-family: 'Allura', cursive;

    font-family: 'Be Vietnam Pro', sans-serif;
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 300;
}

h1 {
    font-size: 84px;
}

/*Navigation*/

.navContainer {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: transparent;
}

.navList {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navItem {
    margin-right:  2rem;
    color: red;
    list-style: none;
}

.navLink {
    text-decoration: none;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #fff;
}

.container {
    width: 100vw;
    height: 70vh;
    background-image: url(/hero-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: -2;
}

.overlay {
    background-color: rgba(88, 105, 116, 0.6);
    height: 70vh;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}

.heroContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.heroText { 
    font-size: 200px;
    font-weight: 700;
    color: #fff;
    text-shadow: 4px 4px 8px #525d64;;
}


.creatorTag {
    position: absolute;
    rotate: 90deg;
    bottom: 100px;
    left: -65px;
}

#tagline {
    color: #fff;
    font-weight: 300;
    font-size: 10px;
}
